*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rest{
    display: flex;
}

ul{
    list-style-type: none;
    width: 100%;

}

.navigation{
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 0;
}

a{
    display: block;
    width: 100%;
    padding: 15% 0;
    text-decoration: none;
    color: rgb(31, 31, 160);
    font-weight: bold;
}

li a:hover{
    opacity: 0.5;
}

#header{
    text-align: center;
    margin: 0;
    padding: 3%;
    color: wheat;
    background-image: url(https://wallpaper-house.com/data/out/8/wallpaper2you_216505.jpg);
}

.content{
    padding: 5%;
    margin: 0;
}

h1{
    font-size: 3.2vw;
    font-weight: bold;
}

h4{
    font-size: 2vw;
    font-style: italic;
    font-weight: normal;
}

h3{
    color: rgb(31, 31, 160);
    font-size: 2.5vw;
    padding: 5%;
    margin: 0;
}

p{
    color: rgb(31, 31, 160);
    text-align: justify;
}

p img{
    display: block;
}

table, td, th{
    border: 1px dashed rgb(31, 31, 160);
    border-collapse: collapse;
    padding: 5%;
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

tr:first-of-type{
    background-color: rgb(31, 31, 160);
    color: wheat;
}

tr:nth-of-type(even){
    background-color: rgba(31, 31, 160, 0.2);
}

td:hover{
    background-color: rgb(31, 31, 160);
    color: wheat;
}

#showcase, #designers{
    display: flex;
    flex-wrap: wrap;
    /*width: 100%;*/
}

.column{
    flex: 33.33%;
    max-width: 33.33%;
}

.column img{
    vertical-align: middle;
    width: 100%;
}

@media only screen and (max-width: 800px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
}

#footer p{
    text-align: right;
    margin: 0;
    padding: 5%;
    color: wheat;
    background-image: url(https://wallpaper-house.com/data/out/8/wallpaper2you_216505.jpg);
}

p a{
    display: inline;
    color: wheat;
    margin: 0;
    padding: 0;
}

input, textarea{
    width: 50%;
    border: 1px solid rgb(31, 31, 160);
}

[type=submit]
{
    display: block;
    width: 20%;
    background-color: rgb(31, 31, 160);
    color: wheat;
    padding: 2%;
    margin-top: 2%;
}

[type=submit]:hover{
    opacity: 0.5;
}

#top{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    width: 5%;
    height: 5%;
}

#top a{
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}

i{
    color: rgb(31, 31, 160);
    font-weight: bold;
}

.column{
    padding: 2%;
}

h6{
    font-size: 1.5vw;
    color: rgb(31, 31, 160);
    padding: 1%;
}

h5{
    font-size: 1vw;
    color: rgb(31, 31, 160);
    opacity: 0.5;
}

#services p, #packages p, #p{
    font-family: 'Bad Script';
    font-size: 1.5vw;
}

#showcase img:hover{
    opacity: 0.5;
}
